name: CI
on: [push]
env:
  BUNDLE_PATH: ~/bundler
  FASTLANE_HIDE_TIMESTAMP: true
  FASTLANE_SKIP_DOCS: true
  FASTLANE_SKIP_UPDATE_CHECK: true
jobs:
  lint_php:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Set up PHP and composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.2'
          tools: composer:v1
      - name: Lint PHP syntax
        run: composer phplint
      - name: Instal composer dependencies
        run: composer install
      - name: Lint PHP code using PHP_CodeSniffer
        run: composer phpcs
  lint_javascript:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Install npm dependencies
        run: npm install
      - name: Lint JavaScript code using ESLint
        run: npm run eslint
  lint_structured_files:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: Install npm dependencies
        run: npm install
      - name: Lint structured files using Prettier
        run: npm run lint-structured-files
  lint_swift:
    if: "!contains(github.event.head_commit.message, '[ci skip]') && !contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - uses: maxim-lobanov/setup-xcode@v1.1
        with:
          xcode-version: '12.1'
      - name: Install bundler dependencies
        run: cd "./swift/TestRunner" && bundle install --jobs=4 --retry=3
      - name: Set up working directory
        run: cd "./swift/TestRunner" && bundle exec pod install
      - name: Lint Swift code using SwiftLint
        run: ./swift/TestRunner/Pods/SwiftLint/swiftlint lint --config swiftlint.yml "./swift"
